<div class="result-page">
    <p>
        At this rate you will reach level 40 on the <strong>{{finalDate}},</strong> which is in {{missingYears}} year(s) and {{missingDays}} days.
    </p>

    <p>
        You have earned {{xpGained}} XP, which is <strong>{{xpGainedPercentage}}%</strong> of what you need to reach level 40.
    </p>

    <p>
        You are missing {{missingXP}} XP, which is the equivalent of catching {{missingXPinPokemon}} pokemons.
    </p>
</div>
